
.time-slot {
	-fx-background-color: red, white ;
	-fx-background-insets: 0, 1 1 0 0 ;
}

.time-slot:active{
    -fx-background-color: red, #ccccff ;
    -fx-background-insets: 0, 1 1 0 0 ;
}

.time-slot:topStack{
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: red, #ccccff ;
    -fx-background-insets: 0, 1 1 0 0 ;
}

.time-slot:bottomStack{
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: red, #ccccff ;
    -fx-background-insets: 0, 1 1 0 0 ;
}


.time-slot:selected{
    -fx-background-color: indianred;
}