.time-slot {
	-fx-background-color: white ;
	-fx-border-width: 0;
}

.time-slot:mid {
	-fx-background-color: white ;
        -fx-border-color: black;
	-fx-border-width: 1 0 0 0 ;
}

.time-slot:selected{
    -fx-background-color: indianred;
}

.time-slot:booked{
    -fx-background-color: #ccccff ;
    /*-fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: red, #ccccff ;
    -fx-background-insets: 0, 1 1 0 0 ;*/
}

.time-slot:topStack{
    -fx-background-radius: 10 10 0 0;
}

.time-slot:middleStack{
    -fx-background-radius: 10 10 10 10;
}

.time-slot:bottomStack{
    -fx-background-radius: 0 0 10 10;
}


/*
*{
  --primary: #b3e5fc;
  --dark: #82b3c9;
  --light: #e6ffff;
  --select: #2e586b;
}*/

.tool-panel {
    -fx-background-color: #5151ff;
    -fx-border-width: 0;
}

.side-panel {
    -fx-background-color: #e5e5e5;
    -fx-border-width: 0 8 8 0;
    -fx-border-color: #e5e5e5;
}

.button-transparent {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/*.button-transparent:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}*/

.button-transparent:pressed {
    -fx-background-color: #969696;
}

.popup-panel {
    -fx-background-color: #d6d6ff;
}

.button-popup {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.button-popup:pressed {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.combo-status {
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-color: transparent;
}

/*Seccion  ventana creacion y modificacion*/
.text-box {
    -fx-border-width: 2;
    -fx-border-color: #82b3c9;
}

.button-plus {
    -fx-border-width: 2;
    -fx-border-color: #82b3c9;
}

.vbox-window {
    -fx-border-width: 3;
    -fx-border-color: #82b3c9;
}

.combo-students {
    -fx-border-width: 2;
    -fx-border-color: #82b3c9;
    -fx-background-color: transparent;
}